{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1>Soluciones Tecnológicas</h1>
    <p class="lead">Impulsamos tu negocio con tecnología</p>
</div>

<h2 class="text-center mt-5">Servicios</h2>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h4>Desarrollo Web</h4>
            <p>Aplicaciones modernas con Flask.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h4>Soporte Técnico</h4>
            <p>Solución de problemas informáticos.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h4>Redes y Seguridad</h4>
            <p>Configuración y protección de datos.</p>
        </div>
    </div>
</div>
{% endblock %}
